<template name="transitionFour">

    <div class="p-lg">
    {{#staggering child="row" effect="fadeInUp"}}
        <div class="content">
            <div class="row">
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
                <div class="col-lg-4" >
                    {{#panel title="Box example"}}
                        <div class="h-100"></div>
                    {{/panel}}
                </div>
            </div>
        </div>
        {{/staggering}}
    </div>
</template>