<template name="draggable">

    {{> pageHeader title="Draggable panels" desc="Example page for draggable panels" category="Interface" }}

    <div class="content">

        <div class="row">

            <div class="col-lg-4">
                {{#panel title="Box example" built=true}}
                    <div class="m-t-md m-b-md text-center">
                        <i class="fa fa-hand-o-up fa-4x"></i>
                        <div class="m-t">Drag and move panels.</div>
                    </div>
                {{/panel}}
                {{#panel title="Box example" built=true}}
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                {{/panel}}
                {{#panel title="Box example" built=true}}
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                {{/panel}}
            </div>
            <div class="col-lg-4">
                {{#panel title="Box example" built=true}}
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                {{/panel}}
                {{#panel title="Box example" built=true}}
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                {{/panel}}
                {{#panel title="Box example" built=true}}
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                {{/panel}}
            </div>
            <div class="col-lg-4">
                {{#panel title="Box example" built=true}}
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                {{/panel}}
                {{#panel title="Box example" built=true}}
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                {{/panel}}
                {{#panel title="Box example" built=true}}
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                {{/panel}}
            </div>

        </div>

    </div>

</template>