<template name="timeline">

    {{> pageHeader title="Timeline" desc="Present your events in timeline style." category="App views" }}


    <div class="content">

        <div class="row">
            <div class="col-md-6">
                <div class="hpanel">
                    {{#staggering child="vertical-timeline-block"}}
                    <div class="v-timeline vertical-container">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                    <h2>The standard chunk of Lorem Ipsum</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    It is a long established fact that
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                    <h2>There are many variations</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    It is a long established fact that
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                    <h2>Contrary to popular belief</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    It is a long established fact that
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                    <h2>The generated Lorem Ipsum</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    It is a long established fact that
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                    <h2>The standard chunk</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    It is a long established fact that
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/staggering}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="hpanel">
                    {{#staggering child="vertical-timeline-block"}}
                    <div class="v-timeline vertical-container" >
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                    <h2>The standard chunk of Lorem Ipsum</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    It is a long established fact that
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                    <h2>There are many variations</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    It is a long established fact that
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                    <h2>Contrary to popular belief</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    It is a long established fact that
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                    <h2>The generated Lorem Ipsum</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    It is a long established fact that
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                    <h2>The standard chunk</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    It is a long established fact that
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/staggering}}
                </div>
            </div>
        </div>

    </div>
</template>